.quote-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5vw;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  /*animation: quote-text 1s linear; */
  overflow: hidden;

}


.quote-text:hover{
  /* Transform to 1.2 times the size */
  transform: translate(-50%, -50%) scale(1.1);
}

/*
@keyframes quote-text {
  0%   { 
  transform: translateX(100%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
 }
*/

.top-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
}

.bottom-text {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 1vw;
  
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
  font-family: 'Roboto', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}